<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="ZigWheels Parallel Suite"
       data-provider-thread-count="2">

    <test name="Cucumber Scenarios">
        <classes>
            <class name="com.hackathon.runners.TestRunner"/>
        </classes>
    </test>

</suite>